body, html {
	width: 100%;
	height: 100%;
	font-family: 'Caveat', cursive;
	font-family: 'Ubuntu', cursive;
	text-transform: uppercase;
	background-image: url("header.jpg");
	background-size: cover;
	background-position: center;

}
h1 {
	background: linear-gradient(to right, #0F89B1 0%, lightcoral 100%, #26657A 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 3rem;
	

}
.btn {
	color: white;
    border-color: white;
    border-radius: 300px;
    font-weight: 700;

}
hr {
	border-color: aqua;
	border-width: 3px;
	max-width: 65px;
	position: fixed;
	height: 6rem;

}
.btn-xl {
	padding: 1rem 2rem;
}

